<!DOCTYPE html>
<html lang="en" class="no-scrollbar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/talkysafe143/WikiWebDevelopment@main/src/main/resources/static/main.css">
    <title>Developing</title>
</head>
<body class="bg-black">
    <div class="flex items-center justify-center flex-col" data-aos="fade-left" data-aos-duration="1000">
        <nav class="bg-black border-gray-200 dark:bg-gray-900 w-dvw *:text-white">
            <div class="w-dvh flex items-center justify-center mx-auto p-4 space-x-10">
                <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
                    <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo" />
                    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">La mesa redonda</span>
                </a>
                <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                    </svg>
                </button>
                <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                    <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg  md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                        <li>
                            <a href="/grupo-2-1/galindo/" class="block py-2 px-3 text-white rounded md:bg-transparent md:p-0 dark:text-white md:dark:text-blue-500">Home</a>
                        </li>
                        <li>
                            <a href="/grupo-2-1/galindo/description" class="block py-2 px-3  rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Descripcion</a>
                        </li>
                        <li>
                            <a href="/grupo-2-1/galindo/requirements" class="block py-2 px-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Requerimientos</a>
                        </li>
                        <li>
                            <a href="/grupo-2-1/galindo/architecture" class="block py-2 px-3 rounded  hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Arquitectura</a>
                        </li>
                        <li>
                            <a href="/grupo-2-1/galindo/development" class="block py-2 px-3 rounded md:text-blue-700 hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Desarrollo</a>
                        </li>
                        <li>
                            <a href="/grupo-2-1/galindo/tests" class="block py-2 px-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Pruebas</a>
                        </li>
                        <li>
                            <a href="/grupo-2-1/galindo/deploy" class="block py-2 px-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Despliegue</a>
                        </li>
                        <li>
                            <a href="/grupo-2-1/galindo/contact" class="block py-2 px-3 rounded  hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Contáctenos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="flex flex-grow flex-col justify-center items-center h-dvh" data-aos="fade-left" data-aos-duration="1000">
            <h1 class="
        bg-gradient-to-r
        from-blue-600
        via-green-500
        to-indigo-400
        inline-block
        text-center
        text-transparent
        bg-clip-text text-[100px] font-[900]"
            >Enpoints para desarrollo</h1>
            <h1 class="
        bg-gradient-to-r
        from-blue-300
        via-cyan-100
        to-cyan-400
        inline-block
        text-transparent
        bg-clip-text text-[40px] font-[900]"
            >Arrienda Tu Finca</h1>
        </div>
    </div>
    <!-- INICIO DE LA ESCENA -->

    <div class="flex flex-col gap-10 justify-center items-center h-dvh mx-32 dark" data-aos="fade-left" data-aos-duration="1000">
        <div class="max-h-1/2">
           
            <h1 class="
            bg-gradient-to-r
            from-blue-300
            via-cyan-100
            to-cyan-400
            inline-block
            text-transparent
            text-center
            bg-clip-text text-[70px] font-[900]"
                >Endpoints para usuarios</h1>
        </div>
        <div class="max-h-1/2">
        
            
            <ul class="max-w-full divide-y divide-gray-200 dark:divide-gray-700 text-2xl">
                <li class="pb-3 sm:pb-4">
                <div class="flex items-center gap-7 space-x-4 rtl:space-x-reverse">
                    <div class="flex-shrink-0">
                        <img class="size-14 rounded-full" src="https://cdn.jsdelivr.net/gh/TalkySafe143/WikiWebDevelopment@main/src/main/resources/static/assets/progress.png" alt="Neil image">
                    </div>
                    <div class="flex-1 min-w-0">
                        <p class="font-medium text-gray-900 truncate dark:text-white">
                            Obtener usuarios
                        </p>
                        <p class=" text-gray-500 truncate dark:text-gray-400">
                            POST
                        </p>
                    </div>
                    <div class="inline-flex items-center font-semibold text-gray-900 dark:text-white">
                        Pending
                    </div>
                </div>
                </li>
                <li class="pb-3 sm:pb-4">
                    <div class="flex items-center gap-7 space-x-4 rtl:space-x-reverse">
                        <div class="flex-shrink-0">
                            <img class="size-14 rounded-full" src="https://cdn.jsdelivr.net/gh/TalkySafe143/WikiWebDevelopment@main/src/main/resources/static/assets/progress.png" alt="Neil image">
                        </div>
                        <div class="flex-1 min-w-0">
                            <p class="font-medium text-gray-900 truncate dark:text-white">
                                Obtener usuarios
                            </p>
                            <p class=" text-gray-500 truncate dark:text-gray-400">
                                POST
                            </p>
                        </div>
                        <div class="inline-flex items-center font-semibold text-gray-900 dark:text-white">
                            Pending
                        </div>
                    </div>
                    </li>
                    <li class="pb-3 sm:pb-4">
                        <div class="flex items-center gap-7 space-x-4 rtl:space-x-reverse">
                            <div class="flex-shrink-0">
                                <img class="size-14 rounded-full" src="https://cdn.jsdelivr.net/gh/TalkySafe143/WikiWebDevelopment@main/src/main/resources/static/assets/progress.png" alt="Neil image">
                            </div>
                            <div class="flex-1 min-w-0">
                                <p class="font-medium text-gray-900 truncate dark:text-white">
                                    Obtener usuarios
                                </p>
                                <p class=" text-gray-500 truncate dark:text-gray-400">
                                    POST
                                </p>
                            </div>
                            <div class="inline-flex items-center font-semibold text-gray-900 dark:text-white">
                                Pending
                            </div>
                        </div>
                        </li>
                        <li class="pb-3 sm:pb-4">
                            <div class="flex items-center gap-7 space-x-4 rtl:space-x-reverse">
                                <div class="flex-shrink-0">
                                    <img class="size-14 rounded-full" src="https://cdn.jsdelivr.net/gh/TalkySafe143/WikiWebDevelopment@main/src/main/resources/static/assets/progress.png" alt="Neil image">
                                </div>
                                <div class="flex-1 min-w-0">
                                    <p class="font-medium text-gray-900 truncate dark:text-white">
                                        Obtener usuarios
                                    </p>
                                    <p class=" text-gray-500 truncate dark:text-gray-400">
                                        POST
                                    </p>
                                </div>
                                <div class="inline-flex items-center font-semibold text-gray-900 dark:text-white">
                                    Pending
                                </div>
                            </div>
                            </li>
                
            </ul>
   
        </div>
    </div>


    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init()
    </script>
</body>
</html>